<html>
    <head>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      {% block title %}
        <title>
          IS Controlling Portal
        </title>
      {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {{ render(controller('App\\Controller\\MenuController::list')) }}
        {{ include("default/parts/messages.html.twig") }}
        {% block content %}

        <div class="row">
          <div class="container-fluid">
            <div class="jumbotron">
              <h1 class="display-4">Hola, Bienvenido</h1>
              <p class="lead">En este portal podrás administrar y llevar un control de los Pagos y Compras.</p>
              <hr class="my-4">
              <p>Revisa las opciones listadas en el menú o más abajo para chequear las funciones que puedes realizar.</p>
              <p class="lead">
                <a class="btn btn-primary" href="{{ path("usuario") }}" role="button">Administración de usuarios</a>
                <a class="btn btn-primary" href="{{ path("proveedor") }}" role="button">Proveedores</a>
                <a class="btn btn-primary" href="{{ path("compra") }}" role="button">Compras</a>
                <a class="btn btn-primary" href="{{ path("usuario") }}" role="button">Gastos</a>
                <a class="btn btn-primary" href="{{ path("compra") }}" role="button">Solicitudes de Pago</a>
              </p>
            </div>
          </div>
        </div>

        {% endblock content %}

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
