{% extends 'default/base.html.twig' %}

{% block content %}
<div class="container-fluid">


  <table class="table">
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Password</th>
          <th>Acción</th>
        </tr>

    </thead>



  <br />

  {% for usuario in usuarios %}
      <tr>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.password }}</td>
      <td><a class="btn btn-success" href="{{ path('usuarioEdit',{'id': usuario.id })  }}">Editar</a>
       <a class="btn btn-danger" href="{{ path('usuarioDelete',{'id': usuario.id }) }}">Eliminar</a></td>
      </tr>
  {% endfor %}
  </table>
</div>

{% endblock content %}
