{% extends 'default/base.html.twig' %}

{% block content %}
<div class="container-fluid">


  <table class="table">
    <thead>
        <tr>
          <th>#</th>
          <th>Usuario</th>
          <th>Descripción</th>
          <th>Proveedor</th>
          <th>Solicitante</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Acción</th>
        </tr>

    </thead>
  <br />
  {% if compras is defined %}
    {% for compra in compras %}
        <tr>
        <td>{{ compra.id }}</td>
        <td>{{ compra.usuario.nombre }}</td>
        <td>{{ compra.descripcion }}</td>
        <td>{{ compra.proveedor.nombre }}</td>
        <td>{{ compra.solicitante }}</td>
        <td>{{ compra.created|format("dd-MM-yyyy") }}</td>
        <td>{{ compra.tipo }}</td>

        <td>
        </td>
        </tr>
    {% endfor %}
  {% endif %}
  </table>
</div>

{% endblock content %}
