{% extends 'default/base.html.twig' %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col">
      <h3>Listado de Pagos</h3>
    </div>
    <div class="col ">
    </div>

  </div>
  <div class="row">
    <div class="table-responsive">
    <table class="table">
      <thead>
          <tr>
            <th>#</th>
            <th>Usuario</th>
            <th>Descripción</th>
            <th>Proveedor</th>
            <th>CM</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>

      </thead>
    <br />
    {% if pagos is defined %}
      {% for pago in pagos %}
          <tr>
          <td>{{ pago.id }}</td>
          <td> <img  data-toggle="tooltip" data-placement="top" title="{{ pago.usuario.nombre }}" src="{{ asset(path('image',{'name': pago.usuario.nombre,'_format':'png'} )) }}"  width="30" height="30" style="border-radius: 100%" /> </td>
          <td>{{ pago.descripcion }}</td>
          <td>{{ pago.proveedor.nombre }}</td>
          <td>{{ pago.proveedor.contrato }}</td>
          <td>{{ pago.created|date("d-m-Y") }}</td>
          <td>{{ pago.tipo }}</td>
          <td>{{ pago.estado }}</td>
          <td>
            <a class="btn btn-success" href="{{ path('pagoView',{'id': pago.id })  }}">Ver</a>
            <a class="btn btn-danger" href="{{ path('pagoDelete',{'id': pago.id })  }}">Eliminar</a>
          </td>


          </tr>
      {% endfor %}
    {% endif %}
    </table>
  </div>
    <nav aria-label="Navigation compras">
  {% if maxPages > 1 %}
    <ul class="pagination justify-content-center">
        {# `«` arrow  #}
        <li {{ thisPage == 1 ? 'class=" page-item disabled"' }}>
            <a class="page-link" href="{{ path('pago', {page: thisPage -1 < 1 ? 1 : thisPage -1}) }}">«</a>
        </li>

        {# Render each page number #}
        {% for i in 1..maxPages %}
        <li {{ thisPage == i ? 'class="page-item active"' }}>
        <a class="page-link" href="{{ path('pago', {page: i}) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {# `»` arrow #}
        <li {{ thisPage == maxPages ? 'class="page-item disabled"' }}>
            <a class="page-link" href="{{ path('pago', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
        </li>
    </ul>
  {% endif %}
  </nav>
  </div>
</div>
{% endblock content %}
