{% extends 'default/base.html.twig' %}

{% block content %}

  {% if compras is defined %}
    {% for compra in compras %}
      <a href="{{ path("compraView",{"id":compra.id}) }}">{{compra.id}}-{{compra.descripcion}}</a> <br/>
    {% endfor %}
  {% endif %}
  {% if pagos is defined %}
    {% for pago in pagos %}
      <a href="{{ path("pagoView",{"id":pago.id}) }}">{{pago.id}}-{{pago.descripcion}}</a> <br/>
    {% endfor %}
  {% endif %}
  {% if solpeds is defined %}
    {% for solped in solpeds %}
      {% if solped.compras is defined %}
        {% for compra in solped.compras %}
            <a href="{{ path("compraView",{"id":compra.id}) }}">Solped : {{solped.numero}}  ID: {{compra.id}} ~   {{compra.descripcion}}</a> <br/>
        {% endfor %}
      {% endif %}
      {% if solped.pagos is defined %}
        {% for pago in solped.pagos %}
            <a href="{{ path("pagoView",{"id":pago.id}) }}">Solped : {{solped.numero}} ID: {{pago.id}} ~ {{pago.descripcion}}</a> <br/>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if ocs is defined %}
    {% for oc in ocs %}
      {% if oc.compras is defined %}
        {% for compra in oc.compras %}
            <a href="{{ path("compraView",{"id":compra.id}) }}">Solped : {{oc.numero}}  ID: {{compra.id}} ~ {{compra.descripcion}}</a> <br/>
        {% endfor %}
      {% endif %}
      {% if oc.pagos is defined %}
        {% for pago in oc.pagos %}
            <a href="{{ path("pagoView",{"id":pago.id}) }}">Solped : {{oc.numero}} ID: {{pago.id}} ~ {{pago.descripcion}}</a> <br/>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock content %}
