{% extends 'default/base.html.twig' %}

{% block content %}
<div class="container ">
  <div class="page-header">
  <h1>Vista de Compra : {{ compra.descripcion }}</h1>
</div>
<div class="row">
  <table class="table">
    <thead>
        <tr>
          <th>#</th>
          <th>Usuario</th>
          <th>Descripción</th>
          <th>Proveedor</th>
          <th>Solicitante</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Acción</th>
        </tr>

    </thead>
  <br />
        <tr>
        <td>{{ compra.id }}</td>
        <td>{{ compra.usuario.nombre }}</td>
        <td>{{ compra.descripcion }}</td>
        <td>{{ compra.proveedor.nombre }}</td>
        <td>{{ compra.solicitante }}</td>
        <td>{{ compra.created|date("d-m-Y") }}</td>
        <td>{{ compra.tipo }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="compraActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acciones
            </button>
            <div class="dropdown-menu" aria-labelledby="compraActionButton">
               <a class="dropdown-item" href="{{ path("compraEdit",{'id':compra.id}) }}">Editar</a>
            </div>
          </div>
        </td>
        </tr>
  </table>
</div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#detalleModal">Agregar Detalle</button>
      <table class="table">
        <thead>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Valor Neto Unitario</th>
          <th>Acción</th>
        </thead>
        <tbody>
          {% if compra.detalle is defined %}
          {% for detalle in compra.detalle %}
          <tr>
            <td>{{ detalle.descripcion }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>${{ detalle.valor }}</td>
            <td>  <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="detalleActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="ocActionButton">
                  <a class="dropdown-item" href="{{ path("detalleEdit",{'id': detalle.id,  'tipo': "Compra", 'number' : compra.id}) }}">Editar</a>
                  <a class="dropdown-item" href="{{ path("detalleDelete",{'id': detalle.id,  'tipo': "Compra", 'number' : compra.id}) }}">Eliminar</a>
              </div>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#distribucionModal">Agregar Distribución</button>
      <table class="table">
        <thead>
          <th>Cantidad</th>
          <th>Cuenta</th>
          <th>Ceco</th>
          <th>Acción</th>
        </thead>
        <tbody>
          {% if compra.distribucion is defined %}
          {% for distribucion in compra.distribucion %}
          <tr>
            <td>{{ distribucion.cantidad }}</td>
            <td>{{ distribucion.cuenta }}</td>
            <td>{{ distribucion.ceco }}</td>
            <td>  <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="distribucionActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="distribucionActionButton">
                  <a class="dropdown-item" href="{{ path("distribucionEdit",{'id': distribucion.id,  'tipo': "Compra", 'number' : compra.id}) }}">Editar</a>
                  <a class="dropdown-item" href="{{ path("distribucionDelete",{'id': distribucion.id,  'tipo': "Compra", 'number' : compra.id}) }}">Eliminar</a>
              </div>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#solpedModal">Agregar Solped</button>

      <table class="table">
          <tr>
              <th>Numero</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Acción</th>
          </tr>

      {% if compra.solpeds is defined %}
        {% for solped in compra.solpeds %}
        <tr>
          <td>{{ solped.numero }}</td>
          <td>{{ solped.created|date("d-m-Y") }}</td>
          <td>  {{ solped.estado }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="solpedActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
              </button>
              <div class="dropdown-menu" aria-labelledby="solpedActionButton">
                 <a class="dropdown-item" href="{{ path("solpedEdit",{'id': solped.id, 'tipo': "Compra", 'number' : compra.id}) }}">Editar</a>
                  <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="{{ path("solpedCambioEstado",{'id': solped.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 0})}}">Cambiar a Pendiente</a>
                 <a class="dropdown-item" href="{{ path("solpedCambioEstado",{'id': solped.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 1})}}">Cambiar a Solicitada</a>
                 <a class="dropdown-item" href="{{ path("solpedCambioEstado",{'id': solped.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 2})}}">Cambiar a Aceptada</a>
                 <a class="dropdown-item" href="{{ path("solpedCambioEstado",{'id': solped.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 3})}}">Cambiar a Rechazada</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
          </table>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#ocModal">Agregar OC</button>

      <table class="table">
          <tr>
              <th>Numero</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Acción</th>
          </tr>
      {% if compra.ocs is defined %}
        {% for oc in compra.ocs %}
        <tr>
          <td>{{ oc.numero }}</td>
          <td>{{ oc.created|date("d-m-Y") }}</td>
          <td>{{ oc.estado }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="ocActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
              </button>
              <div class="dropdown-menu" aria-labelledby="ocActionButton">
                <a class="dropdown-item" href="{{ path("ocEdit",{'id': oc.id, 'tipo': "Compra", 'number' : compra.id}) }}">Editar</a>
                 <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path("ocCambioEstado",{'id': oc.id,'tipo': "Compra", 'number' : compra.id, 'estado' : 0})}}">Cambiar a Pendiente</a>
                <a class="dropdown-item" href="{{ path("ocCambioEstado",{'id': oc.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 1})}}">Cambiar a Enviado a Proveedor</a>
                <a class="dropdown-item" href="{{ path("ocCambioEstado",{'id': oc.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 2})}}">Cambiar a Finalizado</a>
                <a class="dropdown-item" href="{{ path("ocCambioEstado",{'id': oc.id, 'tipo': "Compra", 'number' : compra.id, 'estado' : 3})}}">Cambiar a Anulado</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
    </div>
  </div>

  <div class="modal fade  " id="ocModal" tabindex="-1" role="dialog" aria-labelledby="ocModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ocModalLabel">Agregar Solped</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if forms.oc is defined %}
          {{ form(forms.oc) }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade  " id="solpedModal" tabindex="-1" role="dialog" aria-labelledby="solpedModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="solpedModalLabel">Agregar OC</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% if forms.solped is defined %}
        {{ form(forms.solped) }}
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade  " id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="detalleModalLabel">Agrega Detalle</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% if forms.detalle is defined %}
        {{ form(forms.detalle) }}
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade  " id="distribucionModal" tabindex="-1" role="dialog" aria-labelledby="distribucionModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="distribucionModalLabel">Agregar Distribucion</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% if forms.distribucion is defined %}
        {{ form(forms.distribucion) }}
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}
