{% block nav %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ControllingPortal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      {% for direction in urls %}
          {% if direction.url is defined  %}
            <li class="nav-item">
              <a href="{{ path(direction.url) }}" class="nav-link" >{{ direction.title }}</a>
            </li>

          {% endif %}
          {% if direction.drop is defined %}
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ direction.title }}
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               {% for item in direction.drop %}
               <a class="dropdown-item" href="{{ path(item.url) }}">{{item.title}}</a>
               {% endfor %}
             </div>
           </li>
          {% endif %}
      {% endfor %}
</ul>
<form class="form-inline my-2 my-lg-0">
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 </form>
 {% if app.user %}
   <div class="pl-5 ">
        <img src="{{ asset(path('image',{'name': app.user.nombre,'_format':'png'} )) }}" width="30" height="30" style="border-radius: 100%" alt="{{ app.user.nombre }}">
   </div>
   <div class="pl-2 text-white">
     {{app.user.nombre}}
   </div>
  {% endif %}
  </div>
</nav>
{% endblock nav %}
